body{
	background-color: #344f38;
}
input{
	outline: none;
	border-style: none;
	border-radius: 2px;
	margin-bottom: 3px;
}
label{
	color: #FFF;
}
a{
	text-decoration: none;
	color: #9eb5a1;
}
#form{
	text-align: left;
}
#code{
	display:inline-block;
}
input[type='button'], input[type='submit']{
	border-radius: 8px;
	padding: 2px;
	padding-right: 6px; 
	padding-left: 6px;
}
.shp{
	height: 16px; 
}
