body{
	background-color: #909090;
}
input{
	outline: none;
	border-style: none;
	border-radius: 2px;
	margin-bottom: 3px;
}
a{
	text-decoration: none;
	color: #705;
}
#form{
	text-align: left;
}
#code{
	display:inline-block;
}
input[type='button'], input[type='submit']{
	border-radius: 8px;
	padding: 2px;
	padding-right: 6px; 
	padding-left: 6px;
}
